.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    border: 2px solid black;
    padding: 2px;
    
    
}

.blue {
    background-color: blue;
    border: 2px solid black;
    padding: 2px;
}

.pink {
    background-color: pink;
    border: 2px solid black
}

.yellow {
    background-color: yellow;
    border: 2px solid black
}

.red {
    background-color: red;
    border: 2px solid black
}

.black {
    background-color: black;
    border: 2px solid black;
    color: white;
}
